{% extends "index.html"%}
{% load static %}


{% block content %}


<section class="vh-100">

    <div class="container py-5 h-75">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <form action="{% url 'reset_password' %}" method="post">
                            {% csrf_token %}
                            {% include 'alert.html' %}
                            <div class="card-header bg-primary">
                                <h4 class="mb-0 text-center">ENTER YOUR EMAIL</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input name="email" type="email" class="form-control" id="password"
                                        aria-describedby="emailHelp" placeholder="ENTER YOUR EMAIL"
                                        name="Enter your email ">
                                    <small id="emailHelp" class="form-text text-muted">
                                    </small>
                                </div>
                                <button type="submit" class="btn btn-success btn-block">submit</button>
                               
                            </div>


                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>

</section>




{% endblock content %}