{%extends 'index.html' %}

{% load static%}



{% block content %}


<div class="container-fluid pt-5">
    {%if not cart_items %}
    <h2 class="text-dark text-center">YOUR SHOPING CART IS EMPTY<h2>
            <hr>
            <br>
            <div class="text-center">
                <a href="{% url 'store' %}" class="btn btn"><img src="{% static 'img/cart2.webp' %}" > <BR>SHOP THE CART</a>
            </div>
            {% else%}

            <div class="row px-xl-5">

                <div class="col-lg-8 table-responsive mb-5">
                    <table class="table table-bordered text-center mb-0">
                        <thead class=" text-dark" >
                            <tr>
                                <th>Products</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody class="align-middle">
                            {% for cart_item in cart_items %}
                            <tr>

                                <td class="align-middle"><img src="{{cart_item.product.image.url}}" alt="" style="width:100%;
                            height: 10vh; object-fit:contain;"><a href="{{cart_item.product.get_url}}">
                                        {{cart_item.product.title}}</a>
                                    <p class="text-muted small">
                                        {% if cart_item.variant %}
                                        {{ cart_item.variant }}<br>
                                        {% endif %}
                                    </p>
                                </td>
                                <td class="align-middle">{{cart_item.product.price}}</td>
                                <td class="align-middle">
                                    <div class="input-group quantity mx-auto" style="width: 100px;"
                                        data-index="{{product.id}}">
                                        <div class="input-group-btn">
                                            <a href="{% url 'remove_cart' cart_item.product.id cart_item.id %} "
                                                class="btn btn-sm btn-primary btn-minus">
                                                <i class="fa fa-minus"></i>
                                            </a>
                                        </div>
                                        <input type="text" class="form-control form-control-sm bg-secondary text-center"
                                            value="{{cart_item.quantity}}">
                                  
                                        <div class="input-group-btn">
                                            <a href=" {% url 'add_cart' cart_item.product.id %}?variant={{cart_item.variant.color}} "
                                                class="btn btn-sm btn-primary btn-plus">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </div>
                                 
                                    </div>
                                </td>
                                <td class="align-middle">{{cart_item.get_sub_total}}</td>
                                <td class="align-middle"><a
                                        href="{% url 'remove_cart_item' cart_item.product.id cart_item.id %}"
                                        class="btn btn-sm btn-primary"><i class="fa fa-times"></i></a></td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-4">
                    <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">

                        <div class="card" style="width: 18rem;">
                            <div class="card-header  border-0">
                                <h6 class="font-weight-semi-bold m-0">AVAILABLE COUPONS</h6>
                            </div>
                            <div class="card-body">
                              
                                {% for i in coupon_view%}
                                <h6 class="text-danger">
                                   {{i.coupon_code}} <hr />
                                </h6>
                                {% endfor %}


                                {% if cart.coupon %}
                                <span class="m-r-10">Applied Coupon (Tap to Remove) :</span>
                                <a href="{% url 'remove_coupon' %}"
                                    class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5 text-success"
                                    type="submit">
                                    {{cart.coupon.coupon_code}}
                                </a>

                                {% else %}

                                <form action="{% url 'apply_coupon' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="flex-w flex-m m-r-20 m-tb-5">
                                        <input required class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5"
                                            type="text" name="coupon" placeholder="Coupon Code">

                                        <button
                                        class="btn btn-primary"
                                            type="submit">
                                            Apply coupon
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        {% endif %}
                        {% include 'alert.html' %}
                        <br>
                        <hr/>

                    </div>
                    <div class="card border-secondary mb-5">
                        <div class="card-header  border-0">
                            <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                        </div>
                        <div class="card-body">
                          
                           
                       
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">coupon code </h6>
                            <h6 class="font-weight-medium"> {{cart.coupon.coupon_code}}</h6>
                        </div>
                            <div class="d-flex justify-content-between mb-3 pt-1">
                                <h6 class="font-weight-medium">discount price</h6>
                                <h6 class="font-weight-medium"> {{cart.coupon.discount_price}}</h6>
                            </div>
                            <div class="d-flex justify-content-between mb-3 pt-1">
                                <h6 class="font-weight-medium">minimum amount</h6>
                                <h6 class="font-weight-medium"> ₹ {{ cart.coupon.min_amount}} </h6>
                            </div>
                            <hr/>
                            <div class="d-flex justify-content-between mb-3 pt-1">
                                <h6 class="font-weight-medium">Subtotal</h6>
                                <h6 class="font-weight-medium">{{ cart.get_cart_total }}</h6>
                            </div>
                            <div class="d-flex justify-content-between mb-3 pt-1">
                                <h6 class="font-weight-medium">Tax</h6>
                                <h6 class="font-weight-medium"> ₹ {{ cart.get_tax }} </h6>
                            </div>
                            
                            <div class="card-footer border-secondary bg-transparent">
                            <div class="d-flex justify-content-between mt-2">
                                <h5 class="font-weight-bold">Grand Total</h5>
                                <h5 class="font-weight-bold"> ₹ {{ cart.get_grand_total }}</h5>
                            </div>
                        </div>


                            <a href="{% url 'checkout' %}" class="btn btn-block btn-primary my-3 py-3">Proceed To
                                Checkout</a>
                            <a href="{% url 'store' %}" class="btn btn-block btn-dark my-3 py-3">continue
                                shopping</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif%}
</div>
</div>

<!-- Cart End -->
</div>










{% endblock content %}