{% extends "index.html"%}
{% load static %}


{% block content %}


<section class="vh-100">
    {% comment %} {% if request.GET.command == 'verification' %}

    <div class="contianer mx-auto alert alert-info text-center" role="alert" style="max-width:1024px;margin-top:100px;">
        <p>Thank you for registring with us,we have sent you a verification email to your email
            address [{{request.GET.email}}] .please verify it.</p>
        <hr />
        already verified?<a href="{% url 'login' %}"></a>
    </div>

    {% else %}  {% endcomment %}

    <div class="container py-5 h-75">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">

                        <form action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            {% include 'alert.html' %} <div class="card-header ">
                                <h4 class="mb-0 text-center">LOGIN</h4>
                            </div>
                            <div class="card-body">

                                <div class="form-group">
                                    <label for="email">EMAIL</label>
                                    <input name="email" type="email" class="form-control" id="password"
                                        aria-describedby="emailHelp" placeholder="Enter Email address" name="password">
                                    <small id="emailHelp" class="form-text text-muted">
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="email"> password</label>
                                    <input name="password" type="password" class="form-control" id="password"
                                        aria-describedby="emailHelp" placeholder="confirm Password"
                                        name="confirm_password">
                                    <small id="emailHelp" class="form-text text-muted">
                                    </small>
                                </div>
                                <a class="small text-muted" href="{% url 'reset_password' %}">Forgot password?</a>

                                <button type="submit" class="btn btn-primary  btn-block">submit</button>
                                <p class="mb-5 pb-lg-2 text-center" style="color: #393f81; ">Don't have an account? <a
                                        href="{% url 'sign_up' %}" style="color: #393f81;">sign_up</a>
                                </p>
                                <p class=" text-center" style="color: #393f81; ">Login with otp <a href="{% url 'email' %}"
                                    style="color: #393f81;"> click </a>
                            </p>
                                
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>


 {% comment %} {% endif %} {% endcomment %}
</section>



{% endblock content %}