{% extends "index.html"%}
{% load static %}


{% block content %}


<section class="vh-100">

    <div class="container py-5 h-75">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">

                        <form action="{% url 'email' %}" method="POST">
                            {% csrf_token %}
                            {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                              {{message}}
                              {% endfor %}
                            </div>
                         <div class="card-header ">
                                <h4 class="mb-0 text-center">ENTER YOUR EMAIL FOR OTP LOGIN</h4>
                            </div>
                            <div class="card-body">

                                <div class="form-group">
                                    <label for="email">EMAIL</label>
                                    <input name="email" type="email" class="form-control" id="password"
                                        aria-describedby="emailHelp" placeholder="Enter Email Password" name="password">
                                    <small id="emailHelp" class="form-text text-muted">
                                    </small>
                                </div>
                                <button type="submit" class="btn btn-primary  btn-block">submit</button>

                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>



</section>



{% endblock content %}