{% extends "base.html" %}

{% load static %}



{% block content %}

<div id="header-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {% for b in banner %}
        <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" style="height: 410px;">
            <img class="img-fluid" src="{{ b.image.url }}" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 700px;">
                    <h4 class="text-light text-uppercase font-weight-medium mb-3">{{b.heading}}</h4>
                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">{{b.description}}</h3>
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#header-carousel" role="button" data-slide="prev">
        <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-prev-icon mb-n2"></span>
        </div>
    </a>
    <a class="carousel-control-next" href="#header-carousel" role="button" data-slide="next">
        <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-next-icon mb-n2"></span>
        </div>
    </a>
</div>




<!-- Navbar End -->


<!-- mens -->
{% comment %} 
<div class="container-fluid pt-5">
    <div class="text-center mb-4 bg-primary">
        <h2 class="section-title px-5">
            <span class="px-2">men'S</span>
        </h2>
    </div>

    <div class="row px-xl-5 pb-3">
        {% for p in products|slice:"0:4" %}

        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <a href="">

                <div class="card product-item border-0 mb-4">

                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">

                        <img class="img-fluid w-100" src="{{p.image.url}}" style="width: 100%;
                  height: 15vw;
                  object-fit:contain;" alt="" />
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">

                        <h6 
                        class="text-truncate mb-3">{{p.title|capfirst}}</h6>
                        <div class="d-flex justify-content-center">
                           <h6>₹{{p.price}}</h6>
                            <h6 class="text-muted ml-2"><del>{{p.price}} </del></h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                         <a href="{{p.get_url}}" class="btn btn-sm text-dark p-0 text-center"><i
                                class="fas fa-eye text-primary mr-1"></i>view detail
                        </a>
                        <a href="{% url 'add_wishlist' p.id %}" class="btn btn-sm text-dark p-0 text-center"><i class="fa-solid fa-heart"></i>
                            whishlist
                        </a>
                    </div>
                </div>
            </a>
        </div>

        {% endfor %}


    </div>
    
    </a>

</div>

</div>

</div>




<!--women's -->
{% for p in womens|slice:"0:4"%}
<div class="container-fluid pt-5">
    <div class="text-center mb-4 bg-primary">
        <h2 class="section-title px-5"><span class="px-2">women's</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
        {% for p in products|slice:"0:4" %}

        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <a href="">

                <div class="card product-item border-0 mb-4">

                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">

                        <img class="img-fluid w-100" src="{{p.image.url}}" style="width: 100%;
                  height: 15vw;
                  object-fit:contain;" alt="" />
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">

                        <h6 
                        class="text-truncate mb-3">{{p.title|capfirst}}</h6>
                        <div class="d-flex justify-content-center">
                           <h6>₹{{p.price}}</h6>
                            <h6 class="text-muted ml-2"><del>{{p.price}} </del></h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                         <a href="{{p.get_url}}" class="btn btn-sm text-dark p-0 text-center"><i
                                class="fas fa-eye text-primary mr-1"></i>view detail
                        </a>
                        <a href="{% url 'add_wishlist' p.id %}" class="btn btn-sm text-dark p-0 text-center"><i class="fa-solid fa-heart"></i>
                            whishlist
                        </a>
                    </div>
                </div>
            </a>
        </div>

        {% endfor %}


    </div>
</div>
{% endfor %}


<!-- kids -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4 bg-primary">
        <h2 class="section-title px-5"><span class="px-2">kid's</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
        {% for p in products|slice:"5:9" %}

        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <a href="">

                <div class="card product-item border-0 mb-4">

                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">

                        <img class="img-fluid w-100" src="{{p.image.url}}" style="width: 100%;
                  height: 15vw;
                  object-fit:contain;" alt="" />
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">

                        <h6 
                        class="text-truncate mb-3">{{p.title|capfirst}}</h6>
                        <div class="d-flex justify-content-center">
                           <h6>₹{{p.price}}</h6>
                            <h6 class="text-muted ml-2"><del>{{p.price}} </del></h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                         <a href="{{p.get_url}}" class="btn btn-sm text-dark p-0 text-center"><i
                                class="fas fa-eye text-primary mr-1"></i>view detail
                        </a>
                        <a href="{% url 'add_wishlist' p.id %}" class="btn btn-sm text-dark p-0 text-center"><i class="fa-solid fa-heart"></i>
                            whishlist
                        </a>
                    </div>
                </div>
            </a>
        </div>

        {% endfor %}


    </div>
</div> {% endcomment %}

<!-- Products End -->

<!-- new arrival -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4 bg-primary">

        <h2 class="section-title px-5">
            <span class="px-2">new arrival</span>
        </h2>
    </div>
    <div class="row px-xl-5 pb-3">
        {% for p in products|slice:"0:8" %}

        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <a href="">

                <div class="card product-item border-0 mb-4">

                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    {% if p.image %}
                    <img class="img-fluid w-100" src="{{p.image.url}}" style="width: 100%;height: 15vw;object-fit:contain;" alt="" />
                    {% else %}
                    No Image Available
                    {% endif %}
                    </div>
                
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">

                        <h6 
                        class="text-truncate mb-3">{{p.title|capfirst}}</h6>
                        <div class="d-flex justify-content-center">
                           <h6>₹{{p.price}}</h6>
                            <h6 class="text-muted ml-2"><del>{{p.price}} </del></h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                         <a href="{{p.get_url}}" class="btn btn-sm text-dark p-0 text-center"><i
                                class="fas fa-eye text-primary mr-1"></i>view detail
                        </a>
                        <a href="{% url 'add_wishlist' p.id %}" class="btn btn-sm text-dark p-0 text-center"><i class="fa-solid fa-heart"></i>
                            whishlist
                        </a>
                    </div>
                </div>
            </a>
        </div>

        {% endfor %}


    </div>
</div>

<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
        
            <div class="owl-carousel vendor-carousel">
                {% for b in all_brand %}
                
                <div class="vendor-item border p-4">
                    <img src="{{b.brand_image.url}}" alt="">
                </div>    
                {%endfor %}
                
            </div>
        
        </div>
    </div>
</div>




{% endblock content %}